* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.display-flex{
    display: flex!important;
}
.bg-hover{
    transition: all 0.1s ease-in-out;

}

.bg-hover:hover{
    background: rgba(192, 192, 192, 0.08) !important;
    border-radius: 10px;
}

.flex-2{
    flex: 2;
}

.flex-1 {
    flex: 1;
}

.img_card {
    height: 4rem;
    width: 3.2rem;
}

